<div class="container">
    <form action="/regnumbers" method="POST">
        <div class="heading">
            <h1>REGISTRATION NUMBERS</h1>
        </div>

        <div class="examples">
            <h2>e.g CA 122 423 | CY 121 | CL 452-464</h2>
        </div>
        <div class="flash">
            {{messages.info}}
        </div>
        <div class="success">
            {{messages.success}}
        </div>
        <br>
        <div class="textbox">
            <input type="text" name="reg_input" placeholder="enter a reg number...">
        </div>

        <div class="button">
            <input type="submit" class="button-primary" value="Add Registration">
        </div>
    </form>

    <form action="/regnumbers" method="GET">
        <div class="filter">
            <h3>Please Select a Town:</h3>
            <div class="selectTown">
                <select id="filterThingy" name="selectedTowns" class="towns">
                    <option value="ALL">All Towns</option>
                    <option value="1">Cape Town</option>
                    <option value="2">Bellville</option>
                    <option value="3">Stellenbosch</option>
                </select>
            </div>
            <br>
            <button type="submit" class="button-primary2">Filter</button>
       

    </form>
    
    <a href="/reset" class="link"> reset </a>
    <hr>
    <ul>
        {{#each reg_numbers}}
        <li>{{reg_numbers}}</li>

        {{/each}}
    </ul>

</div>

