body {
    /* box-sizing: border-box; */
    border-radius: 3px;
    border: 3px solid red;
    background: linear-gradient( #fdcd3b 60%, #ffed4b 60%);

}

.container {
    background-color: transparent;
    text-align: center;
    height: 19cm;
    width: 90%;
    word-break: break-word;
}
/* div{
    border: 2px solid black;
} */
h2 {
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading {
    text-align: center;
    color: rgb(50, 97, 100);
}

.textbox {
    float: left;
    margin-bottom: 3em;
    margin-left: 5em;
}

.examples {
    margin-bottom: 3em;
}


.button-primary {
    border-radius: 5px;
    box-sizing: border-box;
    height: 28px;
    cursor: pointer;
    text-align: center;
    border: 0.1em solid darkslategrey;
    float: left;
    margin-left: 2em;


}

.button-primary:hover {
    background: transparent;
    color: black;

}

li {

    padding: 10px 10px;
    border: 2px solid black;
    background-color: honeydew;
    border-radius: 10px;   
    display: flex;
    bottom: 5cm;
    display: inline-block;
    margin: 0.5em;
     
}
hr{
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 2px solid red;
    margin-left: 2em;
}

ul {
  
    /* margin: 0px; */
    padding: 0px;
}

.flash {
    font-size: 27px;
    color: red;
    font-style: italic;
}

.button-primary2:hover {
    background-color: rgba(201, 76, 76, 0.3);;
    color:red;
    border-radius: 5px;
    box-sizing: border-box;
    height: 28px;
    cursor: pointer;
    border: 0.1em solid red;

}

.button-primary2 {
    text-decoration: none;
    border-radius: 7px;
    background: transparent;
    height: 28px;
    color: red;
    border: 0.1em solid red;
    font-weight: bolder;
    margin-right: 2em;
    padding: 3px 8px;
}

.link {
    text-decoration: none;
    border-radius: 7px;
    background: transparent;
    height: 28px;
    color: red;
    border: 0.1em solid red;
    font-weight: bolder;
    padding: 3px 8px;
}

.link:hover {
    background-color: rgba(201, 76, 76, 0.3);;
    color: red;
    border-radius: 5px;
    box-sizing: border-box;
    height: 28px;
    cursor: pointer;
    border: 0.1em solid red;

}

.success {
    font-size: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #336600;
}

.filter {
    float: left;
    margin-top: 3em;
   
}

select {
    border:1px solid red;
    border-radius: 7px;
    text-align: center;
    height: 28px;
    background-color: transparent;
    color: red;
}

select:hover {
    background-color: rgba(201, 76, 76, 0.3);
    border: 1px solid darkred;
}

@keyframes draw-line {
    from {
        height: 0;
    }

    50% {
        border: 1px solid rgb(black);
    }

    to {
        height: 100vh;
        border: 5px solid red;
    }
}